


<div id="banner" onclick="javascript:window.open(window.clickTag);">
<div class="outline"></div>
<div class="frame frame1">	

	<!-- <img class="trace2 retina" src="../_common/images/<%= size %>/<%= name %>/_trace3.jpg" />	 -->


	<img class="ring ring1 retina" src="../_common/images/<%= size %>/<%= name %>/ring1.png" />	
	<img class="ring ring2 retina" src="../_common/images/<%= size %>/<%= name %>/ring2.png" />	
	<img class="ring ring3 retina" src="../_common/images/<%= size %>/<%= name %>/ring3.png" />	
	<img class="ring ring4 retina" src="../_common/images/<%= size %>/<%= name %>/ring4.png" />	
	<img class="ring ring5 retina" src="../_common/images/<%= size %>/<%= name %>/ring5.png" />

	<img class="ypy-1 retina" src="../_common/images/<%= size %>/<%= name %>/ypy-1.png" />
	<img class="ypy-2 retina" src="../_common/images/<%= size %>/<%= name %>/ypy-2.png" />
	<img class="ypy-3 retina" src="../_common/images/<%= size %>/<%= name %>/ypy-3.png" />

	

	<img class="t1 retina" src="../_common/images/<%= size %>/<%= name %>/t1.png" />
	<img class="t2 retina" src="../_common/images/<%= size %>/<%= name %>/t2.png" />
	<img class="devices retina" src="../_common/images/<%= size %>/<%= name %>/end_devices.png" /> 
	<% include ../_common/templates/_end %>	

</div>

