<head>	
	<title></title>
	<style>#banner{opacity: 0;}</style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="ad.size" content="width=<%= width %>, height=<%= height %>">	
	<script type="text/javascript">var clickTag = "http://www.google.com";</script>
	<link rel="stylesheet" href="./_styles/css/main.css" inline/>
	<script type="text/javascript" src="http://localhost:48626/takana.js"></script>
    <script type="text/javascript">takanaClient.run({host: 'localhost:48626'});</script>
    <!-- <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script> -->
    <script type="text/javascript">
    	window.universalBanner = {
    		width: <%= width %>,
    		height: <%= height %>,
    		size: "<%= size %>",    		    		
    		name: "<%= name %>"
    	}
    </script>
</head>