


<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		<img class="bg retina" src="../_common/images/<%= size %>/_<%= name %>/bg.jpg" />
		
		<img class="retina logo1" src="../_common/images/<%= size %>/logo1.png" />


		<img class="retina t1 t1a" src="../_common/images/<%= size %>/_<%= name %>/t1a.png" />
		<img class="retina t1 t1b" src="../_common/images/<%= size %>/_<%= name %>/t1b.png" />



		<img class="retina text2 logo2" src="../_common/images/<%= size %>/logo2.png" />
		<img class="retina text2 t2" src="../_common/images/<%= size %>/t2.png" />

		<img class="retina  f3 t2b" src="../_common/images/<%= size %>/_<%= name %>/t2b.png" />


		<img class="retina logo3" src="../_common/images/<%= size %>/logo3.png" />
		<img class="retina t3" src="../_common/images/<%= size %>/t3.png" />
		<img class="retina cta" src="../_common/images/<%= size %>/cta.png" />
		<img class="retina footer" src="../_common/images/<%= size %>/footer.png" />

		<!-- <img class="retina end" src="../_common/images/<%= size %>/<%= name %>/__.png" /> -->
	</div>	
	
	
	<% include ./_end %>
</div>

