


	<div class="frame frame2">
		<img  src="../_common/images/<%= width %>x<%= height %>/bg_2.jpg" class="bg2" >
		<img  src="../_common/images/<%= width %>x<%= height %>/ill.png" class="ill" >
		<img  src="../_common/images/<%= width %>x<%= height %>/phone.png" class="retina phone" >

		<div class="bgGrad"></div>


		<img  src="../_common/images/<%= width %>x<%= height %>/t2.png" class="retina t2" >
		<img  src="../_common/images/<%= width %>x<%= height %>/cta1.png" class="retina cta1" >
		<img  src="../_common/images/<%= width %>x<%= height %>/cta2.png" class="retina cta2" >
		<img  src="../_common/images/<%= width %>x<%= height %>/legal.png" class="retina legal" >

	</div>




	<% include ./legal %>

