<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>	
	<!-- <img class="_trace1 retina" src="../_common/images/<%= size %>/<%= name %>/_trace.png" /> -->
	<div class="frame frame1">
		
		<img class="t1 retina" src="../_common/images/<%= size %>/<%= name %>/t1.png" />
		
		
		<!-- <img class="hero-all hero retina" src="../_common/images/<%= size %>/<%= name %>/hero.jpg" />			 -->
		<img class="bar bottom b1 retina" src="../_common/images/<%= size %>/<%= name %>/b1.png" />	
		<img class="bar top b2 retina" src="../_common/images/<%= size %>/<%= name %>/b2.png" />	
		<img class="bar bottom b3 retina" src="../_common/images/<%= size %>/<%= name %>/b3.png" />	
		<img class="bar top b4 retina" src="../_common/images/<%= size %>/<%= name %>/b4.png" />	
		<img class="bar top b5 retina" src="../_common/images/<%= size %>/<%= name %>/b5.png" />	
		<img class="bar bottom b6 retina" src="../_common/images/<%= size %>/<%= name %>/b6.png" />	
		<img class="bar top b7 retina" src="../_common/images/<%= size %>/<%= name %>/b7.png" />	
		<img class="bar top b8 retina" src="../_common/images/<%= size %>/<%= name %>/b8.png" />	
		<img class="ypy-you1 retina" src="../_common/images/<%= size %>/<%= name %>/ypy-you1.png" />	
		<img class="ypy-play retina" src="../_common/images/<%= size %>/<%= name %>/ypy-play.png" />	
		<img class="ypy-you2 retina" src="../_common/images/<%= size %>/<%= name %>/ypy-you2.png" />	
		<!-- <img class="footer-bg retina" src="../_common/images/<%= size %>/<%= name %>/footer-bg.png" />	 -->
		<img class="t1 retina" src="../_common/images/<%= size %>/<%= name %>/t1.png" />	

		<% include ../_common/templates/_end %>		
	</div>	
	<img class="pointer-events-none olg-static retina" src="../_common/images/<%= size %>/<%= name %>/olg.png" />
	
	
</div>

