


<div id="banner" onclick="javascript:window.open(window.clickTag);">
<div class="outline"></div>
<div class="frame frame1">	

	<img class="trace2 retina" src="../_common/images/<%= size %>/<%= name %>/_trace1.jpg" />	
	<img class="hero retina" src="../_common/images/<%= size %>/<%= name %>/hero.jpg" />	
	<div class="bg"></div>
	<img class="ypy-text ypy-text-1 retina" src="../_common/images/<%= size %>/<%= name %>/you.png" />	
	<img class="ypy-text ypy-text-2 retina" src="../_common/images/<%= size %>/<%= name %>/play.png" />	
	<img class="ypy-text ypy-text-3 retina" src="../_common/images/<%= size %>/<%= name %>/you.png" />	


	<img class="coin coin-1 retina" src="../_common/images/<%= size %>/<%= name %>/coin-1.png" />	
	<img class="coin coin-2 retina" src="../_common/images/<%= size %>/<%= name %>/coin-2.png" />	
	<img class="coin coin-3 retina" src="../_common/images/<%= size %>/<%= name %>/coin-3.png" />	
	<img class="coin coin-4 retina" src="../_common/images/<%= size %>/<%= name %>/coin-4.png" />	
	<img class="coin coin-5 retina" src="../_common/images/<%= size %>/<%= name %>/coin-5.png" />	
	<img class="coin coin-6 retina" src="../_common/images/<%= size %>/<%= name %>/coin-6.png" />	
	<img class="coin coin-7 retina" src="../_common/images/<%= size %>/<%= name %>/coin-7.png" />	
	<img class="coin coin-8 retina" src="../_common/images/<%= size %>/<%= name %>/coin-8.png" />	

	
	<img class="t1 retina" src="../_common/images/<%= size %>/<%= name %>/t1.png" />	
	<img class="t2 retina" src="../_common/images/<%= size %>/<%= name %>/t2.png" />	

	
	<img class="brand-logo retina" src="../_common/images/<%= size %>/<%= name %>/brand-logo.png" />	



	
	
	<img class="devices retina" src="../_common/images/<%= size %>/<%= name %>/end_devices.png" /> 
	<% include ../_common/templates/_end %>	

</div>

<img class="pointer-events-none olg-static retina" src="../_common/images/<%= size %>/<%= name %>/olg.png" />